Soap/MainClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.au.accolite.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.au.accolite.com" xmlns:intf="http://soap.au.accolite.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.au.accolite.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="updateEmployee">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeResponse">
    <complexType>
     <sequence>
      <element name="updateEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployee">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEmployeeResponse">
    <complexType>
     <sequence>
      <element name="addEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployee">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeResponse">
    <complexType>
     <sequence>
      <element name="deleteEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="showEmployeebyID">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="showEmployeebyIDResponse">
    <complexType>
     <sequence>
      <element name="showEmployeebyIDReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteEmployeeRequest">

      <wsdl:part element="impl:deleteEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeResponse">

      <wsdl:part element="impl:deleteEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeRequest">

      <wsdl:part element="impl:addEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEmployeeResponse">

      <wsdl:part element="impl:addEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeRequest">

      <wsdl:part element="impl:updateEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeResponse">

      <wsdl:part element="impl:updateEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="showEmployeebyIDRequest">

      <wsdl:part element="impl:showEmployeebyID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="showEmployeebyIDResponse">

      <wsdl:part element="impl:showEmployeebyIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MainClass">

      <wsdl:operation name="updateEmployee">

         <wsdl:input message="impl:updateEmployeeRequest" name="updateEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmployeeResponse" name="updateEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEmployee">

         <wsdl:input message="impl:addEmployeeRequest" name="addEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:addEmployeeResponse" name="addEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdl:input message="impl:deleteEmployeeRequest" name="deleteEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEmployeeResponse" name="deleteEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="showEmployeebyID">

         <wsdl:input message="impl:showEmployeebyIDRequest" name="showEmployeebyIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:showEmployeebyIDResponse" name="showEmployeebyIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MainClassSoapBinding" type="impl:MainClass">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="showEmployeebyID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="showEmployeebyIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="showEmployeebyIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MainClassService">

      <wsdl:port binding="impl:MainClassSoapBinding" name="MainClass">

         <wsdlsoap:address location="http://localhost:8080/SoapAssignment/services/MainClass"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
